* {
  font-size: large;
}

form, form div {
    display: flex;
    flex-direction: column;
}

form {
  gap: 20px
}

form div{
  gap: 5px
}

button {
  height: 40px;
  font-weight: bold;
  background-color: rgba(109, 109, 109, 0.304);
  border: unset;
  border-radius: 10px;
  cursor: pointer;
  &:disabled {
    background-color: rgba(65, 65, 65, 0.304);;
  }
}
