<div id="container">
  <div id="foto" [ngStyle]="{'background-image':'url(' + producto.fotoUrl + ')'}" class="fotoUrl">
    <img *ngIf="producto.esCeliaco" src="./../../../../assets/background/celiaco.png" alt="apto celiaco">
    <img *ngIf="producto.esVegano" src="./../../../../assets/background/hoja.png" alt="apto vegetariano">
  </div>
  <div id="detalles">
    <h4>{{ producto.nombre }}</h4>
      <ul>
        <li *ngFor="let ingrediente of producto.ingredientes">
          {{ ingrediente }}
        </li>
      </ul>
    <p id="precio">${{ producto.precio }}</p>
  </div>
</div>
