// app-tabs {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }

#container {
  height: 100svh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  // background-color: #071714;
}

app-tabs {
  margin-top: auto;
}

main {
  flex: 1;
  overflow-y: scroll;
}

main::-webkit-scrollbar {
  width: 0.5em;
}

main::-webkit-scrollbar-thumb {
  background-color: transparent;
}