// app-tabs {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }

#container {
  height: 100svh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

app-tabs {
  margin-top: auto;
}

main {
  flex: 1;
  overflow-y: scroll;
}

