// app-tabs {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }

// igc-rating {
//   padding: 70px;
//   padding-left: 100px;
//   color: rgb(255, 255, 45);
//   span {
//     color: antiquewhite;
//   }
// }



#container {
  height: 100svh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  // background-color: #071714;
}

app-tabs {
  margin-top: auto;
}

main {
  flex: 1;
  overflow-y: scroll;
}

main::-webkit-scrollbar {
  width: 0.5em;
}

main::-webkit-scrollbar-thumb {
  background-color: transparent;
}
