div {
  box-sizing: border-box;
  width: calc(100% - 20px);
  height: 100px;
  margin: 0 5px;
  border-radius: 10px;
  border: 1px solid #0000001d;
  position: relative;
}


.fotoUrl {
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: right;
}

h3 {
  font-weight: bold;
  margin: 10px 10px;
  display: inline-block;
  }

