<ng-container *ngIf="CarritoService.carrito.length !== 0 else sinCarrito">
  <section>
  <div id="tarjetas-container" class="margen-pequeno">
  <div *ngFor="let producto of CarritoService.carrito, index as i" class="tarjeta-producto-container">
    <ng-container *ngIf="productosCarrito()[i]">

    <div id="izquierda"[ngStyle]="{'background-image': 'url('+productosCarrito()[i].fotoUrl+')'}">
      <div>
        <img *ngIf="productosCarrito()[i].esCeliaco" src="./../../../assets/background/celiaco.png" alt="Apto Celiaco">
        <img *ngIf="productosCarrito()[i].esVegano" src="./../../../assets/background/hoja.png" alt="Apto Vegano">
      </div>
    </div>

      <div id="centro">
      <p class="negrita">{{ productosCarrito()[i].nombre }}</p>
      <app-contador-cantidad [cantidadInicial]="producto.cantidad" (cantidadCambiada)="cambiarCantidadProducto(producto.idProducto, $event)"></app-contador-cantidad>
      <p *ngIf="producto.notas !== ''">{{ producto.notas }}</p>
    </div>
    <div id="derecha">
      <button (click)="eliminarProducto(producto.idProducto)" id="borrar">
        <img src="./../../../assets/background/borrar.svg" alt="">
      </button>
      <p class="negrita">${{ productosCarrito()[i].precio }}</p>
    </div>

    </ng-container>
  </div>
</div>

<div class="flex-center">
  <a id="mas" [routerLink]="['/']" routerLinkActive="router-link-active">+</a>
</div>
</section>
<section class="margen-pequeno" id="informacion">
  <h3>Direccion de Envio</h3>
  <div class="flex-apart" id="envios-container">
    <div>
      <ng-container *ngIf="perfilService.perfil(), else sinDatosEnvio">
        <h4>{{ perfilService.perfil()!.nombre }}</h4>
        <p>{{ perfilService.perfil()!.direccion }} - {{ perfilService.perfil()?.telefono }}</p>
        <p>{{ perfilService.perfil()!.detalleEntrega}}</p>
      </ng-container>
      <ng-template #sinDatosEnvio>
        <p>Ingresa tus datos de Envio</p>
      </ng-template>
    </div>
  <div>
    <a [routerLink]="['/perfil']" routerLinkActive="router-link-active"><img id="imagen" src="./../../../assets/background/edit.svg" alt="Edit"></a>
  </div>
  </div>
  <div id="totales" class="flex-apart">
    <div>
      <p class="negrita">Subtotal</p>
      <p>Delivery</p>
      <p class="negrita">Total</p>
    </div>
    <div id="montos">
      <p class="negrita">${{ subtotal }}</p>
      <p>${{ this.configService.configuracion().costoEnvio }}</p>
      <p class="negrita">${{ total }}</p>
    </div>
  </div>
  <button id="enviar" (click)="enviarMensaje()">Realizar Pedido</button>
</section>
</ng-container>
<ng-template #sinCarrito>
  <h2>Tu carrito esta vacio</h2>
</ng-template>

<dialog method="modal" #dialog>
  <p>Pudiste realizar el pedido?</p>
  <div>
    <button (click)="finalizarPedido()"><span>Si</span><span>Reiniciar Pedido</span></button>
    <button (click)="editarPedido()"><span>No</span><span>Editar Pedido</span></button>
  </div>
</dialog>
