#fotoProducto {
  width: 100%;
  max-height: 300px;
  position: absolute;
  top: 0;
  z-index: -1;
  max-height: 300px;
  object-fit: cover;
}

.margen-pequeno {
  margin-top: 230px;
}

.margen-pequeno > * {
  margin-bottom: 10px;
}

ul li {
  display: inline;
  &:not(:last-of-type)::after{
    content: ', ';
    margin-left: 2px;
  }
}


.apto-container {
  display: flex;
  height: 30px;
  align-items: center;
  gap: 10px;
  img{
    height: 30px;
  }
}

textarea {
  display: block;
  border-radius: 20px;
  border: unset;
  background-color: rgba(200, 200, 200, 0.409);
  margin-top: 10px;
  width: 100%;
  resize: none;
}

#cantidad-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  width: 100%;
  border-radius: 20px;
  border: unset;
  background: rgba(200, 200, 200, 0.409);
  font-size: larger;
  padding: 10px;
}
