<img src="{{ producto?.fotoUrl}}" alt="{{ producto?.fotoUrl }}">

<ul>
  <li *ngFor="let ingrediente of producto?.ingredientes">{{ ingrediente }}</li>
</ul>
<div *ngIf="producto?.esCeliaco">
  <img src="./../../assets/background/celiaco.png" alt="Apto Celiaco">
  <p>Apto Celiaco</p>
</div>
<div *ngIf="producto?.esVegano">
  <img src="./../../../assets/background/hoja.png" alt="Apto Vegano">
  <p>Apto Vegano</p>
</div>


<label for="notas">Notas</label>
<textarea name="notas" id="notas" cols="30" rows="10"></textarea>
<label for="cantidad">Cantidad</label>
<button>Agregar al carrito</button>
