#fotoProducto {
  width: 100%;
  max-height: 300px;
  position: absolute;
  top: 0;
  z-index: -1;
  max-height: 300px;
  object-fit: cover;
}

.margen-pequeno {
  margin-top: 230px;
}

.margen-pequeno > * {
  margin-bottom: 10px;
}

ul li {
  display: inline;
  color: rgb(255, 255, 255);
  &:not(:last-of-type)::after{
    content: ', ';
    margin-left: 2px;
  }
}


.apto-container {
  display: flex;
  height: 30px;
  align-items: center;
  gap: 10px;
  color: rgb(0, 128, 0);
  font-weight: bold;
  img{
    height: 30px;
    filter: brightness(0) invert(1);
  }
}

textarea {
  display: block;
  border-radius: 20px;
  border: unset;
  color: rgb(255, 255, 255);
  background-color: rgba(200, 200, 200, 0.599);
  margin-top: 10px;
  width: calc(100% - 30px);
  padding: 15px;
  resize: none;
  &:focus{
    outline: none;
  }
}

#cantidad-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#prioSpan {
  color: rgba(255, 255, 255, 0.761);
}

button {
  width: 100%;
  border-radius: 20px;
  border: unset;
  background-color: rgba(0, 0, 0, 0.304);
  font-size: larger;
  padding: 10px 0;
  color: rgb(255, 255, 255);
  box-shadow: rgba(245, 246, 250, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  cursor: pointer;
}

